* {
    margin: 0;
    margin: 0;
}

header {
    width: 100%;
}

.topHeaderDiv {
    display: flex;
    justify-content: space-between;
}

.topHeader .topHeaderDiv .topHeaderPolarBear {
    color: rgba(255, 108, 22, 0.929);
    font-weight: bold;
    margin: 5px;
    padding: 6px;
    font-size: 22px;
}

.topHeader .topHeaderDiv .topHeaderDivNav a {
    color: grey;

    display: inline-block;
    ;
}









main .topMainDiv {
    background-image: url(image/carImage.jpg);
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 370.9px; ;

}